:root {
  --primary: #c7de00;;  
  --secondary: #FF6F61;
  --success: #00C49A; 
  --info: #3ca7b5;     
  --warning: #FFA000;  
  --danger: #FF5252;   
  --light: #f9fafb67;     
  --dark: #1E1E2F;   
}

.bg-primary{
    background-color: var(--primary) !important;
    background-image: url("../background.jpg");
}
.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}

.bg-error{
    background-color: var(--warning);
}
